<section class="login-page">
  <div class="logo">
    <img src="img/logo/supremum.png" alt="supremum-logo">
  </div>
  <h1>Sign In to Supremum</h1>
  <div class="login-container">
    <form class="login-form">
      <label for="username">email address</label>
      <input [(ngModel)]="user.email" type="text" id="username" name="username" required>

      <div class="password-label">
        <label for="password">Password</label>
        <p class="forgot-password"><a routerLink="/reset-password">
          Forgot password?</a></p>
      </div>

      <div class="password">
        <input [(ngModel)]="user.password" [attr.type]="!isVisible ? 'password'  : 'text'" id="password" name="password"
               required>
        @if(isVisible){
        <i class="fa-regular fa-eye" style="color: #ffffff;" (click)="hidePassword()"></i>
        }
        @else{
        <i class="fa-regular fa-eye-slash" style="color: #ffffff;" (click)="showPassword()"></i>
        }

      </div>
      <button type="submit" (click)="login()">Sign In</button>
      <div class="auth2-login">
        <div (click)="singInWithGoogle()"><i class="fa-brands fa-google" style="color: #ffffff;"></i></div>
        <div (click)="singInWithGithub()"><i class="fa-brands fa-github" style="color: #ffffff;"></i></div>
        <div><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></div>
      </div>
    </form>
  </div>
  <p class="create-account">New to Supremum? <a routerLink="/register">Create an account</a></p>
</section>
