<a class="new-blog" routerLink="/dashboard/new-blog">
  <button>Add new blog</button>
</a>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
      <td *matCellDef="let row" mat-cell> {{ row.id }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
      <td *matCellDef="let row" mat-cell> {{ row.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="theme">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Theme</th>
      <td *matCellDef="let row" mat-cell> {{ row.theme }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
      <td *matCellDef="let row" mat-cell> {{ row.date }}</td>
    </ng-container>

    <ng-container matColumnDef="img">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Image</th>
      <td *matCellDef="let row" mat-cell> {{ row.img }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Actions</th>
      <td *matCellDef="let row" class="actions-class" mat-cell><i (click)="delete(row.id)"
                                                                  class="fa-solid fa-trash" style="color: #ec1b23;"></i>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
