<div *ngIf="isOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="login-container">
<!--      <form class="login-form">-->
<!--        <label for="username">Email address</label>-->
<!--        <input [(ngModel)]="user.email" type="text" id="username" name="username" required>-->


<!--        <label for="password">Password</label>-->

<!--        <div class="password">-->
<!--          <input [(ngModel)]="user.password" [attr.type]="!isVisible ? 'password'  : 'text'" id="password"-->
<!--                 name="password"-->
<!--                 required>-->
<!--          @if(isVisible){-->
<!--          <i class="fa-regular fa-eye" style="color: #000;" (click)="hidePassword()"></i>-->
<!--          }-->
<!--          @else{-->
<!--          <i class="fa-regular fa-eye-slash" style="color: #000;" (click)="showPassword()"></i>-->
<!--          }-->

<!--        </div>-->
<!--        <button type="submit" (click)="register()">Register</button>-->
<!--      </form>-->

      <h1>Feature Not Available Yet</h1>
      <p>We are currently working on this functionality. Please check back later.</p>
    </div>
  </div>
</div>
