<div class="partner section">
  <div class="wrap">
    <h2>Partner</h2>
    <div id="partners-logos">

      <a href="https://www.ubuea.cm/" target="_blank" class="left" rel="noopener">
        <img class="partner-logo"
             src="img/partner/OIP (3).jpg"
             sizes="(max-width: 460px) 100vw, 460px" alt="University of Buea">
      </a>
      <a href="https://www.auf.org/" target="_blank" class="left" rel="noopener">
        <img class="partner-logo"
             src="img/partner/OIP (2).jpg"
             alt="AUF">
      </a>

      <a href="https://web.facebook.com/FederationEtudiantsFrancophones/?_rdc=1&_rdr#" target="_blank" class="left" rel="noopener">
        <img class="partner-logo" src="img/partner/361921518_663423639163395_6137377151625811321_n.jpg"
             alt="FEF">
      </a>
    </div>
  </div>
</div>
