<div class="container">
  <h2>New blog</h2>
  <form>
    <div class="input-groups">
      <div class="form-group">
        <label for="img">Images:</label>
        <input (change)="onFileSelected($event)" [(ngModel)]="blog.img" class="file" id="img" multiple name="img"
               type="file">
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input [(ngModel)]="blog.title" id="title" name="title" type="text">
      </div>
      <div class="form-group">
        <label for="theme">Theme:</label>
        <input [(ngModel)]="blog.theme" id="theme" name="theme" type="text">
      </div>
      <div class="form-group">
        <label for="link">Link:</label>
        <input [(ngModel)]="blog.link" id="link" name="link" type="text">
      </div>
      <div class="form-group">
        <label for="date">Date:</label>

      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select [(ngModel)]="blog.category" id="category" name="category">
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <quill-editor
        [(ngModel)]="blog.content"
        [modules]="modules"
        [styles]="{height: '320px', borderBottomLeftRadius: '10px'}"
        class="quill-editor"
        contenteditable="true"
        id="content"
        name="content"
        placeholder="Commence à écrire ici..."
      ></quill-editor>
    </div>
    <button (click)="addBlog()" type="submit">Add Blog</button>
  </form>
</div>


