<footer id="footer" [style.background-image]="'url(img/footer-bg-text.webp)'" style="background-size: cover;
background-repeat: no-repeat">
  <div class="wrap">
    <ul class="footer-nav">
      <li>
        <a href="#">Products</a>
        <ul>
          <li><a href="https://concourguide-cmr.web.app/home">ConcourGuide</a></li>
          <li><a href="#/">KnowNetix</a></li>
          <li><a href="#/">MySafe</a></li>
          <li><a href="#/">DNA</a></li>
          <li><a href="#">Automatik</a></li>
        </ul>
      </li>
      <li>
        <a href="https://www.instadeep.com/solutions/">Solution</a>
      </li>
      <li>
        <a href="https://www.instadeep.com/research/">Research</a>
        <ul>
          <li><a href="#">Research Papers</a></li>
        </ul>
      </li>
      <li>
        <a href="https://www.instadeep.com/news/">News</a>
      </li>
      <li>
        <a href="https://www.instadeep.com/about-us/">About Us</a>
        <ul>
          <li><a href="https://www.instadeep.com/about-us/careers/">Careers</a></li>
        </ul>
      </li>
      <li>
        <a href="https://www.instadeep.com/contact/">Contact</a>
        <ul>
          <li><a href="https://www.instadeep.com/ethics-contact-point">Ethics Contact Point</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer-extra">
      <div class="copright-block-container">
        <div class="svg">
          <a itemscope="" itemtype="http://schema.org/Organization" href="https://www.instadeep.com" rel="nofollow">
            <img src="img/logo/supremum.png" alt="supremum-logo" width="100">
            <p>Supremum</p>
          </a>
        </div>
        <div class="copyright-block">
          <p>Copyright © 2014 - 2025 Supremum</p>
          <div>
            <a href="https://www.instadeep.com/privacy">Privacy Policy</a>
            <a href="https://www.instadeep.com/privacynotice">Privacy Notice</a>
            <a href="https://www.instadeep.com/cookienotice">Cookie Policy</a>
          </div>
        </div>
      </div>
      <div class="footer-logo">
        <a href="https://www.ubuea.cm/">
          <img src="img/partner/OIP (3).jpg" width="88px">
        </a>
        <a href="https://www.fef.education/">
          <img src="img/partner/LogoFEF1901_cropped.png" width="256px">
        </a>
      </div>
    </div>

    <div class="social">
      <div class="left-line"></div>
      <div class="social-wrap">
        <a href="https://www.facebook.com/SupremumOrganization" rel="noopener" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/instadeepai?lang=en" rel="noopener" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/supremumgroup/" rel="noopener" target="_blank"><i
          class="fab fa-linkedin-in"></i></a>
        <a href="#" rel="noopener" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" rel="noopener" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="right-line"></div>
      <div class="trigger">
        <a href="#hero">
          <i class="fa-solid fa-up-long" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
