<footer [style.background-image]="'url(img/footer-bg-text.webp)'" id="footer" style="background-size: cover;
background-repeat: no-repeat">
  <div class="wrap">
    <ul class="footer-nav">
      <li>
        <a href="#">Products</a>
        <ul>
          <li><a href="https://concourguide-cmr.web.app/home">ConcourGuide</a></li>
          <li><a href="#">KnowNetix</a></li>
          <li><a href="#">MySafe</a></li>
          <li><a href="#">DNA</a></li>
          <li><a href="#">Automatik</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Solution</a>
      </li>
      <li>
        <a href="#">Research</a>
        <ul>
          <li><a href="#">Research Papers</a></li>
        </ul>
      </li>
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">About Us</a>
        <ul>
          <li><a href="#">Careers</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Contact</a>
        <ul>
          <li><a href="#">Ethics Contact Point</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer-extra">
      <div class="copright-block-container">
        <div class="svg">
          <a href="https://www.instadeep.com" itemscope="" itemtype="http://schema.org/Organization" rel="nofollow">
            <img alt="supremum-logo" src="img/logo/supremum.png" width="100">
            <p>Supremum</p>
          </a>
        </div>
      </div>
    </div>

    <div class="social">
      <!--      <div class="left-line"></div>-->
      <div class="social-wrap">
        <a href="https://www.facebook.com/SupremumOrganization" rel="noopener" target="_blank"><i
          class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/instadeepai?lang=en" rel="noopener" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/supremumgroup/" rel="noopener" target="_blank"><i
          class="fab fa-linkedin-in"></i></a>
        <a href="#" rel="noopener" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" rel="noopener" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="right-line"></div>
      <div class="trigger">
        <a href="#hero">
          <i class="fa-solid fa-up-long" style="color: #ffffff;"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
