<section id="hero">
  <div id="hero-bg" [style.background-image]="'url(img/hero-bg.webp)'" style="background-repeat: no-repeat;"></div>
  <app-header></app-header>
  <div class="hero-aside">
    <h1>Birthing Impactful and Sustainable Solutions for Today and the Future with AI-Driven Insights</h1>
    <div class="description">
      <div class="content-description">
        <p>Supremum crafts AI-driven solutions that educate, inspire, and transform lives.
           By harnessing the power of machine learning and AI, we create innovative products that touch hearts and minds,
           empowering individuals and communities to thrive in an AI-first world.
        </p>
        <a href="#" class="button">
          <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5v14l11-7z"></path>
          </svg>
          <span>LEARN MORE</span>
        </a>
      </div>
    </div>
  </div>
</section>

<app-buildings-section></app-buildings-section>

<section class="latest-update">

  <div class="section-header">
    <h2>Recent Highlights</h2>
    <p>Our latest updates from across our channels</p>
  </div>

  <div class="shadow">

    <app-blog-section></app-blog-section>

    <app-research-section></app-research-section>

    <app-press-section></app-press-section>

    <app-partner-section></app-partner-section>

    <app-footer></app-footer>

  </div>


</section>
