@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

h2 {
  color: #52276B;
  font-size: 60px;
  font-weight: 700;
  margin-left: 60px;
  padding: 30px 0;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swiper-button-prev{
  background-color: #CF3E2C !important;
}
